
/*/vc2012/Debug
/*/vc2012/ipch
/*/vc2012/Release
*.opensdf
*.sdf
*.suo
*.user
*.gitignore
/Stars/assets/music/*.mp3
/Stars/assets/music/*.flac
/Stars/assets/music/*.ogg
/Stars/assets/music/*.wav
/Stars/assets/fonts/*.*
/TextRendering/assets/fonts/*.*
